<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="images/seekwell.png" alt="Seekwell Logo" class="seekwell-logo">
                <span>PAPI - <span id="papi-version"></span></span>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="playwright-powered">
                    <span>Powered by Playwright</span>
                    <a href="https://playwright.dev/" target="_blank" rel="noopener noreferrer">
                    <img src="images/playwright.png" alt="Playwright Logo" class="playwright-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer> 