<!-- Header/Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="images/seekwell.png" alt="Seekwell Logo" class="seekwell-logo">
            <span class="navbar-title">API Testing Platform</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/environment.html">Environment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test_management.html">Zephyr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="http://localhost:3001/">SLA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/docs/">Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 